:root {
    --primary-light: #7f0909;
    --accent-light: #fafafa;
    --faded-accent-light: #bcbabaa3;
    --secondary-light: #b0a084;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--secondary-light);
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-bar {
    position: fixed;
    top: 3vh;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-background {
    border-radius: 48px;
    padding: 10px 0;
    box-shadow: 0px 9px 19px var(--faded-accent-light);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid transparent;
    background-color: var(--accent-light);
}
.nav-bar a:hover {
    color: var(--primary-light);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-list > li {
    padding: 0 20px;
}

.footer {
    width: 100%;
    margin-top: auto;
    padding: 10px 20px;
    background-color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.footer .smedia-icon {
    margin-left: 4px;
}

.footer .footer-links {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.footer .footer-logo {
    flex: 4;
}

.footer .footer-smedia {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.footer .page-link {
    margin: 0 4px;
}
